.DS_Store
*.zip
index-screenshot.png
audit-independent-2026-07-08/
audit-no-scrub-2026-07-08/
audit-screenshots/
audit-screenshots-current/
audit-screenshots-second/
refinement-screenshots/
final-screenshots/
